<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buchio</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/copiarUrls.js"></script>
</head>
<body>
    <header>
        <h1>buchosc.ly</h1>
        <nav>
            <a href="/">Início</a>
            <a href="#">Dúvidas</a>
            <a href="#">Sobre nós</a>
            <a href="http://127.0.0.1:5000/listar/tudo" id="desenvolvedor">Área de Desenvolvimento</a>
            
        </nav>
    </header>

    <main>
        
        <h1>Aqui voce ver sua URL</h1>

        <a href="{{url}}" class="inputador" id="texto">{{url}}</a>
        <button onclick="copiarTexto()">Copiar</button>
    </main>

    <footer>Desevolvido por Rodrigo</footer>
</body>
</html>